<h1>All Movies</h1>
<div>
  <% @movies.each do |movie| %>
    <h3><%= link_to movie.title, movie_path(movie) %></h3>
  <% end %>
</div>
<small><%= link_to '<< Back to Users List', users_path %></small>